.my-clickable-table {
  &.all-clickable {
    &:hover {
      cursor: pointer;
    }
  }
  thead {
    &:hover {
      cursor: pointer;
    }
  }
  .mytable-accuracy {
    text-decoration: underline;
  }
}
// .accuracy-tooltip {
//   .tooltip-inner {
//     font-size: 1.2rem;
//   }
// }
