.dashboard-page {
  .dashboard-main-row {
    margin-top: -6rem;
  }
  .dash-post-header {
    h4 {
      color: $the-primary-white;
    }
  }
}
.profile-snapshot {
  margin-top: -7rem;
  $profile-snapshot-margin: calc(var(--bs-gutter-x) * -0.5);
  // margin-left: $profile-snapshot-margin;
  // margin-right: $profile-snapshot-margin;
  z-index: -1;
  // background-color: $primary;
  background: rgb(0, 162, 255);
  background: linear-gradient(
    240deg,
    rgba(0, 162, 255, 1) 21%,
    rgba(34, 82, 142, 1) 82%
  );
  // border-radius: 50%;
  // position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: -20px; /* Adjust the distance below the header */
  //   left: 0;
  //   width: 100%;
  //   height: 40px; /* Adjust the height of the curved shape */
  //   // background: radial-gradient(
  //   //   circle at bottom,
  //   //   transparent 0%,
  //   //   transparent 90%,
  //   //   #3498db 90%,
  //   //   #3498db 100%
  //   // );
  //   background-color: red; /* Set the same background color as the header */
  //   border-radius: 50%; /* Create a circular shape */
  // }
  .col-lg-6 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }
  .row {
    margin: 0px !important;
  }
  h5,
  h4,
  p {
    color: $white;
  }
}
